<!DOCTYPE html>
<html xmlns:th="Http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="HTML/CSS/estilo.css">
    <title>inicio</title>
</head>
<body>
    <header>
        <h1 class="cabezera">Malaga Tech Park</h1>
    </header>
    <nav>
        <a href="/index">		
            <div class="inicio">
                <h3>&nbsp;Inicio&nbsp;</h3>
            </div>
       </a>
       <a href="/usuarios">
        <div class="usuarios">
            <h3>&nbsp;Usuarios&nbsp;</h3>
        </div>
        </a>
        <a href="/sorteo">
        <div class="sorteo">
            <h3>&nbsp;Sorteo&nbsp;</h3>
        </div>
        </a>
        <a href="/registro">
            <div class="registro">
                <h3>&nbsp;Registro&nbsp;</h3>
            </div>
        </a>
    </nav>
    <main>
    </main>
    <footer>
        <p>Malaga Tech Park</p>
    </footer>
</body>
</html>