body{
    margin:0;
}
header{
	height:130px;
	width:auto;
	background:rgb(184, 180, 180);
    display:flex;
	justify-content:center;
	align-items:center;
    margin-top:0%;
    
}
h1.cabezera{
    color:white;
}
nav{
	margin:10px;
	height:50px;
	width:auto;
	background:lightgray;
	display:flex;
	justify-content:center;
	align-items:center;
    padding-left:10px;
}
div.inicio, div.sorteo, div.usuarios, div.registro{
	height:50px;
	width:150px;
	background-color:lightgray;
	float:left;
	display:flex;
	align-items:center;
	margin-left:5px;
	color:black;
	justify-content:center;
	align-items:center;
	transition:all 2s ease;
	font-family:"Constantia";
} 
div.usuarios:hover{
	background-color:black;
	color:white;
	transition:all 2s ease;

}
div.sorteo:hover{
	background-color:black;
	color:white;
	transition:all 2s ease;

}

div.inicio:hover{
	background-color:black;
	color:white;
	transition:all 2s ease;

}

div.registro:hover{
	background-color:black;
	color:white;
	transition:all 2s ease;

}

h3 > div{
	align:center;
}

p{
    margin-left:25px;
    margin-top:10px;
    display:inline-flex;
    
}
a:link{
	text-decoration:none;
	color:black;
}
a:visited{
	text-decoration:none;
	color:black;
}
main{
    height:1000px;
    width:100%;
}
footer{
    height:110px;
	width:auto;
	background:rgb(184, 180, 180);
    display:flex;
	justify-content:center;
	align-items:center;
    margin-top:0%;
}